body,html {
    background-color: tomato;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
  text-align: center;
  text-align: bottom;
}